<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FOLDER" value="logs" />
    <property name="AUDIT_FILE_SIZE" value="10MB" />

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/springbootdemo.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %C - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FOLDER}/springbootdemo.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${AUDIT_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="FILE-AUDIT-ACTIVITY"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/springbootdemo-activity.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FOLDER}/springbootdemo-activity.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${AUDIT_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

      <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
          <Target>System.out</Target>
          <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern><pattern>%msg%n</pattern></pattern>
        </encoder>
    </appender>


    <logger name="com.emi.springboot.springbootdemo" level="${LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <logger name="com.emi.springboot.springbootdemo.auditory" level="${LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="FILE-AUDIT-ACTIVITY" />
    </logger>

    <logger name="com.emi.springboot.springbootdemo" level="${LOG_LEVEL:-INFO}" >
        <appender-ref ref="stdoutAppender" />
    </logger>

    <root level="${LOG_LEVEL:-ERROR}">
        <appender-ref ref="stdoutAppender" />
    </root>


</configuration>
